{% extends "base.html" %}
{% set title = "Students" %}

{% block content %}
<h2>Students</h2>

<article>
  <h3>Register Student</h3>
  <form method="POST">
    <div class="grid">
      <label>
        Name
        <input type="text" name="name" placeholder="Full name" required>
      </label>

      <label>
        Email
        <input type="email" name="email" placeholder="name@college.com" required>
      </label>
    </div>

    <label>
      Department
      <select name="department_id" required>
        <option value="" selected disabled>Select department</option>
        {% for d in departments %}
          <option value="{{ d.id }}">{{ d.name }}</option>
        {% endfor %}
      </select>
    </label>

    <button type="submit">Register</button>
  </form>
</article>

<article>
  <h3>Student List ({{ students|length }})</h3>
  <figure>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        {% for s in students %}
        <tr>
          <td>{{ s.id }}</td>
          <td>{{ s.name }}</td>
          <td>{{ s.email }}</td>
          <td>{{ s.department.name if s.department else "-" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </figure>
</article>
{% endblock %}